<table>
    {{!-- {{#each}} --}}
    <tr>
        <th>{{title}}</th>
        <th>{{price}}</th>
        <th>{{thumbnail}}</th>
    </tr>
    {{!-- <tr>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
    </tr>
    <tr>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
    </tr> --}}
    {{!-- {{/each}} --}}
</table>